.layout {
	display: grid;
	grid-template-columns: auto 1fr;
	max-width: 670px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 960px) {
	.layout {
		max-width: 1060px;
		grid-template-columns: auto 1fr 388px;
	}
}

@media screen and (min-width: 1260px) {
	.layout {
		max-width: 1260px;
	}
}
