.tweet {
	display: grid;
	grid-template-areas: "avatar body";
	grid-template-columns: 50px 1fr;
	grid-gap: 8px;
	padding: 12px 15px;
	padding-bottom: 3px;
	border-bottom: 1px solid var(--c-border-color);
	cursor: pointer;
	transition: var(--fade);
}

.tweet:hover {
	background-color: rgba(128, 128, 128, .1);
}

.avatar {
	grid-area: avatar;
}

.body {
	grid-area: body;
}

.header {
	color: var(--c-gray);
}

.name {
	color: var(--c-text-color);
	font-weight: bold;
	text-transform: capitalize;
}

.name:hover{
	text-decoration: underline;
}

.content {
	white-space: pre-wrap;
	margin-top: 5px;
	margin-bottom: 5px;
}