.box {
	padding: 10px;
	text-align: left;
}

.box:hover {
	color: inherit;
}

.body {
	margin-left: 10px;

	margin-right: 20px;
}

.icon {
	width: 16px;
	margin-left: auto;
	color: inherit;
}

.username {
	color: var(--c-gray);
}
