.overlay {
	position: fixed;
	left: 0; right: 0;
	top:0; bottom: 0;
	background-color: rgba(128, 128, 128, .4);
}

.modal {
	display: grid;
	grid-template-areas: "avatar body";
	grid-template-columns: 50px 1fr;
	grid-gap: 8px;
	padding: 24px;
	padding-bottom: 10px;
	width: 100%;
	max-width: 550px;
	border-bottom: 1px solid var(--c-border-color);
	background-color: var(--c-primary);
	border-radius: 18px;
	position: sticky;
	margin: auto;
	margin-top: 5vh;
}

.avatar {
	grid-area: avatar;
}

.body {
	grid-area: body;
}

.textarea {
	resize: none;
	background-color: transparent;
	color: var(--c-text-color);
	outline: none;
	width: 100%;
	font-size: 1.5rem;
}

.footer {
	display: flex;
	justify-content: flex-end;
	position: relative;
}

.close {
	margin-right: 16px;
	color: var(--c-gray);
}

.buttons {
	display: inline-flex;
	left: 0;
	position: absolute;
}

.buttons svg {
	color: var(--c-theme);
}