.nav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 2px;
}

.navButton + .navButton {
	margin-top: 8px;
}

.navButton:not(:global(.twitter))[selected="true"] {
	color: var(--c-theme);
}
