html[theme="light"], :root {
	--c-primary: #fff;
	--c-theme: #1da1f2;
	--c-theme-10: rgba(29, 161, 242, 0.1);
	--c-border-color: rgb(230, 236, 240);
	--c-gray: #6e767d;
	--c-dark-gray: #202327;
	--c-text-color: #000;

	--fade: 120ms;
}

html[theme="dark"]:root {
	--c-primary: #000;
	--c-border-color: #2f3336;
	--c-gray: #6e767d;
	--c-dark-gray: #202327;
	--c-text-color: #fff;
}

html[theme="dim"]:root {
	--c-primary: rgb(21, 32, 43);
	--c-border-color: #2f3336;
	--c-gray: #6e767d;
	--c-dark-gray: #202327;
	--c-text-color: #fff;
}

